<style>
  .hell-msg{
  font-size: 20px;
  color: #fff;
  margin-right:10px;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'setting' %}">Products</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <span class="hell-msg">{{request.user}}</span>
    <span><a  class="hell-msg" href="{% url 'logout' %}">Logout</a></span>
  </nav>